doctype html
html(lang="en")
	block vars
	head
		block title
			title #{pageTitle} - My Static Site
		link(rel='stylesheet', href='assets/css/screen.min.css')
	body(class='#{bodyClass}')

		table#bodyTable

		block content
