* {
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

img{
  border: 0 none;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  display: block;
}

a img{
  border: 0 none;
}

table,
td {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}